/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* Off white default background color */
html {
  background: #fbfdfc;
}

/* Custom Fonts */
@font-face {
  font-family: 'Charlotte';
  src: url('../fonts/charlotte/Charlotte.eot');
  src: url('../fonts/charlotte/Charlotte.otf');
  src: url('../fonts/charlotte/Charlotte.ttf');
  src: url('../fonts/charlotte/Charlotte.woff2') format('woff2'),
       url('../fonts/charlotte/Charlotte.woff') format('woff'),
       url('../fonts/charlotte/Charlotte.ttf') format('truetype'),
       url('../fonts/charlotte/Charlotte.svg#Charlotte') format('svg'),
       url('../fonts/charlotte/Charlotte.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni-72-Book';
  src: url('../fonts/bodoni72/BodoniSvtyTwoITCTT-Book.eot');
  src: url('../fonts/bodoni72/BodoniSvtyTwoITCTT-Book.otf');
  src: url('../fonts/bodoni72/BodoniSvtyTwoITCTT-Book.woff2') format('woff2'),
       url('../fonts/bodoni72/BodoniSvtyTwoITCTT-Book.woff') format('woff'),
       url('../fonts/bodoni72/BodoniSvtyTwoITCTT-Book.ttf') format('truetype'),
       url('../fonts/bodoni72/BodoniSvtyTwoITCTT-Book.svg#BodoniSvtyTwoITCTT-Book') format('svg'),
       url('../fonts/bodoni72/BodoniSvtyTwoITCTT-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bodoni-72-Smallcaps-Book';
  src: url('../fonts/bodoni72smallcaps/Bodoni-72-Smallcaps-Book.eot');
  src: url('../fonts/bodoni72smallcaps/Bodoni-72-Smallcaps-Book.woff2') format('woff2'),
       url('../fonts/bodoni72smallcaps/Bodoni-72-Smallcaps-Book.woff') format('woff'),
       url('../fonts/bodoni72smallcaps/Bodoni-72-Smallcaps-Book.ttf') format('truetype'),
       url('../fonts/bodoni72smallcaps/Bodoni-72-Smallcaps-Book.svg#Bodoni-72-Smallcaps-Book') format('svg'),
       url('../fonts/bodoni72smallcaps/Bodoni-72-Smallcaps-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

/* Set custom default fonts */
html {
 font-family: 'Bodoni-72-Book', "Palatino Linotype", "Book Antiqua", Palatino, Times, serif;
}

html a {
 color: #4a627c;
 text-decoration: underline;
}

html a:hover {
 text-decoration: underline;
}

/* Nav */

.side-nav a {
  text-decoration: none;
}

.no-decoration {
  text-decoration: none !important;
}

.side-nav {
  width: 200px;
}

.nav-custom-wrapper a {
  color: #fbfdfc;
   font-family: 'Bodoni-72-Book', serif;
   font-size: 20px;
}

.nav-custom-wrapper {
  background: #4a627c;
  color: #fbfdfc;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav.nav-extended .nav-custom-wrapper {
  min-height: 62px;
}

.nav-custom-wrapper > a > .nav-custom-active {
  color: #d3a75d;
}

.nav-custom-wrapper > a > .nav-custom-tab:hover {
  color: #d3a75d;
}

.mobile-menu-header {
  font-family: 'Bodoni-72-Smallcaps-Book', serif;
  line-height: 52px;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 64px;
  margin-right: 64px;
  font-size: 26px;
}

/* Banner */

.banner-image {
   position: relative;
   width: 100%; /* for IE 6 */
}

.mobile-img-replacement {
  min-height: 222px;
  background: #fbfdfc;
}

.banner-text {
   position: absolute;
   top: 56px;
}

.banner-name {
   font-family: 'Charlotte', cursive;
}

.banner-date {
   font-family: 'Bodoni-72-Book', serif;
   margin-bottom: 0;
}

.banner-location {
   font-family: 'Bodoni-72-Smallcaps-Book', serif;
   margin-top: 0;
}

.no-decoration:hover {
  text-decoration: none;
}

.mobile-header-spacing {
  padding-top: 14px !important;
  padding-bottom: 22px !important;
}

/* Home */

.accent-text {
  color: #ca9439;
  font-family: 'Charlotte', cursive;
  font-size: 22px;
}

.intro-text {
    font-family: 'Bodoni-72-Book', serif;
    font-size: 20px;
}

.cushion-25 {
  height: 25px;
}

.cushion-15 {
  height: 15px;
  margin: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

/* Custom palette */

.background-dark-blue {
  background: #07284b;
}

.text-dark-blue {
  color: #07284b;
}

.background-light-blue {
  background: #4a627c;
}

.text-light-blue {
  color: #4a627c;
}

.background-dark-yellow {
  background: #ca9439;
}

.text-dark-yellow {
  color: #ca9439;
}

.background-light-yellow {
  background: #d3a75d;
}

.text-light-yellow {
  color: #d3a75d;
}

.background-off-white {
  background: #fbfdfc;
}

.text-off-white {
  color: #fbfdfc;
}

.background-salmon {
  background: #df885c;
}

.text-salmon {
  color: #df885c;
}

/* Schedule */
.schedule-header {
  margin-bottom: 0;
}

.schedule-header-image {
  max-width: 140px;
  display: inline;
}

.schedule-accent-text {
  font-family: 'Charlotte', cursive;
  font-size: 22px;
  margin-top: 5;
  margin-bottom: 10;
  display: inline;
}

.schedule-event-time {
  font-family: 'Bodoni-72-Book', serif;
  font-size: 24px;
  line-height: 26px;
  vertical-align: top;
}

.schedule-event-name {
  font-family: 'Bodoni-72-Book', serif;
  font-size: 24px;
  line-height: 26px;
}

.schedule-event-location {
  font-family: 'Bodoni-72-Book', serif;
  font-size: 20px;
  line-height: 22px;
  padding-bottom: 10px;
}

.schedule-single-row .schedule-event-time,
.schedule-single-row .schedule-event-name {
  padding-bottom: 10px;

}

td {
  padding-top : 0;
  padding-bottom : 0;
}

/* Accommodations */
.accomm-text {
  font-size: 20px;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.accomm-header-text {
  font-family: 'Charlotte', cursive;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.accomm-subheader-text {
  font-size: 22px;
  line-height: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.custom-bold {
  font-weight: 600;
}

.accomm-btn:hover {
  text-decoration: none;
  background-color: #07284b;
}

.accomm-btn:visited {
  background-color: #4a627c;
}

.accomm-btn {
  padding-left: 10px;
  padding-right: 10px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
}

/* Footer */
footer {
 font-family: 'Roboto', GillSans, Calibri, Trebuchet, sans-serif;
}

footer.custom {
  background: #d3a75d;
}

body > footer > div.footer-copyright.custom {
  background: #ca9439;
}
